<%- include('header') %>
<%- include('navbar') %>
<% if(change_fail) { %>
  <div class="alert alert-danger" role="alert">
    Error en cambio de contraseña (<%= change_error %>)
  </div>
<% } %>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h3>Cambiar Contraseña</h3>
        </div>
        <div class="card-body">
          <form action="/auth/change-password" method="post">
            <div class="form-group">
              <label for="username">Password Anterior</label>
              <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Password Anterior">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
            </form>
        </div>
    </div>
</div>
<%- include('footer') %>
