<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">USDM</a>
      <div class="nav navbar-right btn-outline-light mr-sm-2">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= user.email %>
          </button>
          <ul class="dropdown-menu">
            <% if(user.rol == 'admin') { %>
              <li><a class="dropdown-item" href="/auth/users">Usuarios</a></li> 
            <% } %>
            <li><a class="dropdown-item" href="/auth/change-password">Cambiar Password</a></li>
            <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
          </ul>
        </div>      
      </div>    
    </div>
  </nav>
  