<%- include('header') %>
<%- include('navbar') %>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h3>Reset de Contraseña</h3>
        </div>
        <div class="card-body">
          <form action="/auth/reset-password" method="post">
            <div class="form-group">
              <label for="username">Usuario</label>
              <input type="input" class="form-control" id="email" name="email" placeholder="Usuario" value="<%= email %>" readonly>
            <div class="form-group">
              <label for="password">New Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
            </form>
        </div>
    </div>
</div>
<%- include('footer') %>
